<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>

    <add key="BasePath" value="C:\temp"/>
    <add key="SourcePath" value="\log"/>
    <add key="ArchivePath" value="\log\Archive"/>
    <add key="FileNamePattern" value="*.txt"/>
    
  </appSettings>
</configuration>
